
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <style>
        .main-sidebar {
            background-color: #430202;
        }

        .nav-sidebar .nav-link {
            color: #ffffff;
        }

            .nav-sidebar .nav-link:hover {
                background-color: #007bff;
                color: #ffffff;
            }

            .nav-sidebar .nav-link.active {
                background-color: #28a745;
                color: #ffffff;
            }

        .logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 150px;
        }

        .logo-img {
            max-height: 100px;
            width: auto;
        }
    </style>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="@Url.Action("UygulamaGirisSayfasi", "Home")" class="nav-link"> Ana Sayfa</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="@Url.Action("AdminAnaSayfasi", "WebAdmin")" class="nav-link"> Admin Ana Sayfa</a>
                </li>
            </ul>

            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Ara" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                           
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->
                <!--<li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>-->
            </ul>
        </nav>
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
           
            <a href="@Url.Action("UygulamaGirisSayfasi", "Home")" class="navbar-brand logo-container">
                <img src="~/Images/logo1.png" alt="PLANORA" class="logo-img" />
            </a>

            <div class="sidebar">
                @if (Session["KullaniciAdi"] != null)
                {
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex flex-column align-items-center">
                       
                        <div class="image">
                            <img src="@Url.Content(Session["ProfilResmiUrl"]?.ToString() ?? "~/Images/bosprofil.png")" alt="User Avatar"
                                 class="img-circle elevation-2" style="width: 100px; height: 100px;">
                        </div>
                        <div class="info text-center mt-2">
                            <a href="#" class="d-block" style="font-size: 1.2rem; font-weight: bold;">
                                @Session["AdSoyad"] 
                            </a>
                            <span style="color: #555; font-size: 1rem;">
                                @Session["KullaniciAdi"] 
                            </span>
                        </div>
                    </div>
                }
                else
                {
                    <script>
                        window.location.href = "/Home/AdminGirisi";
                    </script>
                }
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                       
                        <li class="nav-item has-treeview ">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-user-cog"></i>
                                <p>
                                    Profilim
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("AdminProfilimDuzenle", "WebAdmin")" class="nav-link">
                                        <i class="far fa-edit nav-icon"></i>
                                        <p>Profil Düzenleme</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="./user_roles.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Kullanıcı Rol ve Yetki</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Cikis", "WebAdmin")" class="nav-link">
                                        <i class="fas fa-sign-out-alt nav-icon"></i>
                                        <p>Çıkış Yap</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview ">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    Kullanıcı Yönetimi
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("AdminKullanicilarListesi", "WebAdmin")" class="nav-link">
                                        <i class="fas fa-list nav-icon"></i>
                                        <p>Kullanıcı Listesi</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("KullaniciEkle", "WebAdmin")" class="nav-link">
                                        <i class="fas fa-user-plus nav-icon"></i>
                                        <p>Kullanıcı Ekle</p>
                                    </a>
                                </li>
                               
                            </ul>
                        </li>
                        <li class="nav-item has-treeview ">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-calendar-alt"></i>
                                <p>
                                    Etkinlik Yönetimi
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("AdminEtkinliklerListesi","Etkinlikler")" class="nav-link">
                                        <i class="fas fa-list-alt nav-icon"></i>
                                        <p>Onaylı Etkinlikler</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("OnayBekleyenEtkinlikListesi","Etkinlikler")" class="nav-link">
                                        <i class="fas fa-hourglass-half nav-icon"></i>
                                        <p>Onay Bekleyen Etkinlikler</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("ReddedilenEtkinlikListesi","Etkinlikler")" class="nav-link">
                                        <i class="fas fa-ban nav-icon"></i>
                                        <p>Reddedilen Etkinlikler</p>

                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item has-treeview ">
                            <a href="#" class="nav-link">
                                <i class="fa-solid fa-icons" style="font-size: 18px; vertical-align: middle;"></i> 
                                <p style="display: inline-block; vertical-align: middle; margin-left: 10px;">
                                    Etkinlik Kategorileri
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("AdminEtkinlikKategoriSayfasi","EtkinlikKategori")" class="nav-link">
                                        <i class="fas fa-list-ul nav-icon"></i>
                                        <p>Etkinlik Kategorileri Listesi</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/EtkinlikKategori/AdminEtkinlikKategoriEkle" class="nav-link">
                                        <i class="fas fa-plus-circle nav-icon"></i>
                                        <p>Etkinlik Kategori Ekle</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("AdminIlgiAlanlariListesi","IlgiAlanlari")" class="nav-link">
                                        <i class="fas fa-list-ul nav-icon"></i>
                                        <p>Etkinlik İlgi Alanları Listesi</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview ">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-envelope"></i>
                                <p>
                                    Mesajlaşma Yönetimi
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("AdminEtkinlikMesajlari", "EtkinlikMesaj", new { etkinlikID =0 })" class="nav-link">
                                        <i class="fas fa-comment nav-icon"></i>
                                        <p>Etkinlik Sohbetleri</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("AdminGeriBildirimMesajlari", "Mesajlar", new { kullaniciID =0 })" class="nav-link">
                                        <i class="fas fa-headset nav-icon"></i>
                                        <p>Bildirim Yönetimi</p>
                                    </a>
                                </li>
                            </ul>
                        </li>


                     </ul>

                </nav>
            </div>
        </aside>
        <div class="content-wrapper">
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
   
    <script src="~/AdminLTE-3.0.4/dist/js/adminlte.js"></script>
   
    <script src="~/AdminLTE-3.0.4/plugins/chart.js/Chart.min.js"></script>
    <script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>
    <script src="~/AdminLTE-3.0.4/dist/js/pages/dashboard3.js"></script>
</body>
</html>
