<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <style>
        .nav-item {
            display: flex;
            align-items: center;
            margin-right: 15px;
        }

            .nav-item i {
                margin-right: 1px;
                color: white;
            }

        .nav-link {
            color: white;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark" style="background-color: #430202;">
        <div class="container">
            <a href="@Url.Action("UygulamaGirisSayfasi", "Home")" class="navbar-brand">
                <img src="~/Images/logo1.png" alt="PLANORA" style="height: 100%; max-height: 70px; width: auto;" />
            </a>

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <i class="fas fa-home"></i> 
                        @Html.ActionLink("Home", "UygulamaGirisSayfasi", "Home", new { area = "" },
                            new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        <i class="fas fa-user-shield"></i> 
                        @Html.ActionLink("Admin Girişi", "AdminGirisi", "Home", new { area = "" },
                            new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        <i class="fas fa-user"></i> 
                        @Html.ActionLink("Kullanıcı Girişi", "KullaniciGirisi", "Home", new { area = "" },
                            new { @class = "nav-link" })
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

