@model EntityLayer.Kullanicilar
  
@{
    ViewBag.Title = "KullaniciProfilimDuzenle";
    Layout = "~/Views/Shared/KullaniciLayout.cshtml";

    <link href="~/Content/MultiSelect.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h5>Profilim </h5>
            </div>
            <div class="panel-body">

                @using (Html.BeginForm("KullaniciProfilimDuzenle", "Kullanicilar", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.Label("Kullanıcı ID")
                                    </div>

                                    <div class="col-md-8">
                                        @Html.TextBoxFor(kullanici => kullanici.KullaniciID, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.Label("Kullanıcı Adı")
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(kullanici => kullanici.KullaniciAdi, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(kullanici => kullanici.KullaniciAdi)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.Label("E-posta")
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(kullanici => kullanici.Eposta, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(kullanici => kullanici.Eposta)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.Label("Yeni Şifreni Oluşturabilirsin")
                                    </div>
                                    <div class="col-md-8">
                                        <input type="password" class="form-control" name="Sifre" />
                                        @Html.ValidationMessageFor(kullanici => kullanici.Sifre)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.Label("Ad")
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(kullanici => kullanici.Ad, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(kullanici => kullanici.Ad)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.Label("Soyad")
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(kullanici => kullanici.Soyad, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(kullanici => kullanici.Soyad)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.Label("Telefon Numarası")
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(kullanici => kullanici.TelefonNumarasi, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(kullanici => kullanici.TelefonNumarasi)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.Label("Konum")
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(kullanici => kullanici.Konum, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(kullanici => kullanici.Konum)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.Label("Doğum Tarihi")
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(kullanici => kullanici.DogumTarihi, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                                        @Html.ValidationMessageFor(kullanici => kullanici.DogumTarihi)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.Label("Cinsiyet")
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(kullanici => kullanici.Cinsiyet,
                                            new SelectList(new[] { "Erkek", "Kadın", "Diğer" }),
                                            "Cinsiyet Seçiniz",
                                            new { @class = "form-control" })
                                        @Html.ValidationMessageFor(kullanici => kullanici.Cinsiyet)
                                    </div>
                                </div>
                                
                                @Html.HiddenFor(kullanici => kullanici.KullaniciRole)
                                <br />
                                <select id="interests" name="secilenIlgiAlanlari" multiple="multiple" class="form-control">
                                    @if (ViewBag.IlgiAlanlari != null)
                                    {
                                        foreach (var ilgiAlani in ViewBag.IlgiAlanlari)
                                        {
                                            <option value="@ilgiAlani.IlgiAlaniID"
                                                    @(ViewBag.kullaniciIlgiAlanlari != null && ViewBag.kullaniciIlgiAlanlari.Contains(ilgiAlani.IlgiAlaniID) ? "selected" : "")>
                                                @ilgiAlani.IlgiAlaniAdi
                                            </option>
                                        }
                                    }
                                </select>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel-heading" style="padding: 2px 2px;">
                                <p>Profil Fotoğrafım</p>
                            </div>
                            <div class="image-preview text-center">
                                <img id="existingImage"
                                     src="@(!string.IsNullOrEmpty(Model.ProfilFotografi) ? Url.Content(Model.ProfilFotografi) : Url.Content("~/Images/bosprofil.png"))"
                                     alt="MevcutProfilFotoğrafı" class="img-fluid" />
                            </div>
                            <input class="form-control form-control-sm" id="formFile" type="file" name="ProfilFotografi" accept="image/*" onchange="gorseliGoster(event)">
                            <br /><br />
                        </div>


                    </div>

                    <button type="submit" class="btn btn-bordo">Güncelle</button>
                    <br />
                    <br />
                    <br />
                    <br />
                }


            </div>
        </div>
    </div>
</div>
<script src="~/Content/MultiSelect.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        new MultiSelect(document.getElementById('interests'), {
            placeholder: 'İlgi Alanlarınızı Seçin',
            search: true,
            selectAll: true
        });
    });

    
    function gorseliGoster(event) {
        var reader = new FileReader();

        reader.onload = function (e) {
            var image = document.getElementById('existingImage');
            image.src = e.target.result;
        };

        if (event.target.files && event.target.files[0]) {
            reader.readAsDataURL(event.target.files[0]);
        }
    }


</script>

<style>
    .form-group {
        margin-bottom: 15px;
    }

    .form-control {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .form-group .col-md-4 {
        position: relative; 
        top: 10px;
    }

    .btn-bordo {
        background-color: #430202;
        color: white;
        width: 100%;
    }

        .btn-bordo:hover {
            background-color: #5b0f14;
            color: white;
        }

    .row {
        display: flex;
        justify-content: space-between;
    }

    .panel {
        border: 2px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }

    .panel-heading {
        background-color: #430202;
        color: white;
        padding: 10px 15px;
        border-radius: 5px 5px 0 0;
        text-align: center;
    }

    .panel-body {
        padding: 15px;
    }

    .image-preview {
        text-align: center;
        border: 2px solid #ccc;
        padding: 5px;
        border-radius: 5px;
        background-color: #f9f9f9;
        margin-top: 10px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

        .image-preview h4 {
            font-size: 16px;
            color: #430202;
            text-align: center;
            margin-bottom: 10px;
        }

    .img-fluid {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        margin-top: 5px;
    }

    .image-preview img {
        transition: all 0.3s ease-in-out;
    }

        .image-preview img:hover {
            transform: scale(1.05);
        }
</style>
